
// @import '../../Utilities/Mixins.scss';

.load-container {
    display: flex;
    // @include flexbox();
}

.loader {
    justify-self: center;
    align-self: center;
    margin: 50% auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: rotate 2s linear infinite;
}