.Dashboard {
    border-radius: 10px;
    background-color: white;
    margin: 50px;
    border: 1px solid lightgrey;
}

.flex {
    display: flex;
    align-items: center;
}

// .topicsWindow {
//     width: 30%;
//     height: 300px;
//     border-right: 1px solid grey;
// }

.chatWindow {
    width: 300px;
    height: 300px;
    padding: 20px;
    overflow-y: auto;
    @media (min-width: 768px) {
        width: 600px;
    }
}

.chatbox {
    background-color: #E0FFFF;
    width: 99%;
    height: 80px;
    border: 0;
    outline: none;
    font-size: 16px;
}

.button {
    width: 100%;
    background-color: #4169E1;
    color: white;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
}

.text-button {
    display: flex;
    flex-direction: column; 
}
