@import './frontend/Utilities/Extends.scss'; 
@import './frontend/Utilities/Mixins.scss'; 
@import './frontend/Utilities/Variables.scss';
@import './frontend/Utilities/KeyFrames.scss';

body {
  background-color: $white-smoke;
  font-family: $font-stack;
}

.App {
  margin: 100px;
  text-align: center;
}

.App .container {
  @include grid(
    $gap: 20px 100px, 
    $temp-col: repeat(auto-fit, minmax(250px, 1fr)));
}

.profile-img {
  display: block;
  animation: fadeOut 3s;
  @include dim($w: 100%);
}

.profile-item {
  @include dim($w: 300px);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}


.Info {
  // min-height: 1800px;
  // @include mq('medium') {
  //   min-height: 1600px;
  // }
  h1 {
      letter-spacing: $letter-space;
      font-size: $base__font-size;
      font-weight: $font-weight--bold;
      text-transform: uppercase;
      animation: text 3s 1;
  }
      &-content {
        @extend %center;
        @include flexbox($dir: column);
        @include mq('medium') {
            @include flexbox($dir: row);
            margin: 0 50%;
        }
        &-image {
          @include dim(300px);
          border-radius: 50%;
          position: absolute;
          top: 800px;
          margin-top: -70px;
          @include mq('medium') {
            margin-top: -100px;
          }
        }

        &-textbox {
          @include dim($w: 400px, $h: 200px);
          padding: 20px;
          @extend %box-shadow;
          flex-shrink: 0;
          background: white;    
          margin: 300px;
          border-radius: $br--default;
          @include mq('medium') {
              @include dim($w: 260px, $h: 300px);
                  margin: 350px 50px 0 0;
              @include mq('large') {
                  @include dim($w: 300px, $h: 300px);
                  margin-right: 120px;
              }
          }
        }
    }

      &-text {
      font-size: 16px;
      text-align: center;
      color: $white;
      font-weight: $font-weight--bold;
      @include pos($pos: relative, $top: 10%);
      @include mq('medium') {
          font-size: 20px;
          margin: 0;
          padding: 0;
          text-align: center;
      }
  }

}

.info-content-image, .Info-content-textbox, .Info-content-text, .profile-keyframe, .profile-item-details {
    animation: fadeOut 3s;
}

















