.Landing {
    height: 500px;
    background: linear-gradient(blue, white),
                url('../common/images/kungfu.jpg') no-repeat center center fixed;
    background-blend-mode: multiply;
    background-size: 80%;
}